<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action = "#"
      th:action=" @{/process}"
      th:object="${jbcstore}"
      method ="post">
      <input type ="hidden" th:field="*{id}" />
    Item :<input type = "text" th:field ="*{item}"/>
    <span th:if ="${#fields.hasErrors('item')}"
          th:errors="*{title}"><</span><br/>
    Revenue:<input type ="text" th:field="*{revenue}"/>
    <span th:if ="${#fields.hasErrors('revenue')}"
          th:errors="*{revenue}"><</span><br/>
    <br/>
    <input type = "submit" value=""Submit" />

</form>
</body>
</html>